<ion-view title="ASA" id="page17">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/UWHkUsgMQL7y3qpjA84r_image.jpg" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="aSA-form13" class="list">
            <label class="item item-input" id="aSA-textarea4">
                <span class="input-label">Développeur Java</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input" id="aSA-textarea5">
                <span class="input-label">23/05/2016 - 07/09/2016</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-select" id="aSA-select2" name="Noter l'entreprise">
                <span class="input-label">Noter</span>
                <select>
                    <option>Notez votre stage</option>
                    <option>5</option>
                    <option>4</option>
                    <option>3</option>
                    <option>2</option>
                    <option>1</option>
                </select>
            </label>
        </form>
        <a ui-sref="mesDerniersStages" id="aSA-button16" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block">Valider</a>
    </ion-content>
</ion-view>