<ion-view title="ASA" id="page20">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/UWHkUsgMQL7y3qpjA84r_image.jpg" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="aSA2-form16" class="list">
            <label class="item item-input" id="aSA2-textarea10">
                <span class="input-label">Développeur Java</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input" id="aSA2-textarea11">
                <span class="input-label">23/05/2016 - 07/09/2016</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <a ui-sref="tabsController.rechercher" id="aSA2-button19" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block">Postuler</a>
    </ion-content>
</ion-view>