<ion-view title="Capgemini" id="page15">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/F9HEvnOcTPuZlJ5a9JIx_05947102-photo-capgemini-logo.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="capgemini-form9" class="list">
            <label class="item item-input" id="capgemini-textarea2">
                <span class="input-label">Développeur Java EE</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input" id="capgemini-textarea3">
                <span class="input-label">07/03/2016 - 18/06/2016</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-select" id="capgemini-select1" name="Noter l'entreprise">
                <span class="input-label">Note</span>
                <select>
                    <option>Notez votre stage</option>
                    <option>5</option>
                    <option>4</option>
                    <option>3</option>
                    <option>2</option>
                    <option>1</option>
                </select>
            </label>
        </form>
        <a ui-sref="mesDerniersStages" id="capgemini-button15" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block">Valider</a>
    </ion-content>
</ion-view>