<ion-view title="Capgemini" id="page19">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/F9HEvnOcTPuZlJ5a9JIx_05947102-photo-capgemini-logo.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="capgemini2-form15" class="list">
            <label class="item item-input" id="capgemini2-textarea8">
                <span class="input-label">Développeur Java EE</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input" id="capgemini2-textarea9">
                <span class="input-label">07/03/2016 - 18/06/2016</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="height: 25px;"></div>
        </form>
        <a ui-sref="tabsController.rechercher" id="capgemini2-button18" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block">Postuler</a>
    </ion-content>
</ion-view>