<ion-view title="CGI" id="page21">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/55LKHdjyTsyC2L8X2roa_CGI.jpg" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="cGI2-form17" class="list">
            <label class="item item-input" id="cGI2-textarea12">
                <span class="input-label">Développeur PHP</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input" id="cGI2-textarea13">
                <span class="input-label">05/09/2016 - 23/12/2016</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <div class="spacer" style="height: 25px;"></div>
        <a ui-sref="tabsController.rechercher" id="cGI2-button20" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block">Postuler</a>
    </ion-content>
</ion-view>