<ion-view title="Créer un compte entreprise" id="page13">
    <ion-content padding="true" class="has-header">
        <form id="crErUnCompteEntreprise-form10" class="list">
            <ion-list id="crErUnCompteEntreprise-list5">
                <label class="item item-input" id="crErUnCompteEntreprise-input12">
                    <span class="input-label">Nom</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="crErUnCompteEntreprise-input13">
                    <span class="input-label">Domaine</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="crErUnCompteEntreprise-input14">
                    <span class="input-label">Nombre de salariés</span>
                    <input type="number" placeholder="">
                </label>
            </ion-list>
            <ion-toggle toggle-class="toggle-positive" id="crErUnCompteEntreprise-toggle3">Management social</ion-toggle>
            <label class="item item-input" id="crErUnCompteEntreprise-input18">
                <span class="input-label">Nombre de stagiaire</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input" id="crErUnCompteEntreprise-input19">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input" id="crErUnCompteEntreprise-input20">
                <span class="input-label">Mot de passe</span>
                <input type="password" placeholder="">
            </label>
            <a ui-sref="tabsController.quickView" id="crErUnCompteEntreprise-button9" class="button button-stable  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>