<ion-view title="Créer un compte étudiant" id="page12">
    <ion-content padding="true" class="has-header">
        <form id="crErUnCompteTudiant-form8" class="list">
            <ion-list id="crErUnCompteTudiant-list4">
                <label class="item item-input" id="crErUnCompteTudiant-input5">
                    <span class="input-label">Nom</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="crErUnCompteTudiant-input6">
                    <span class="input-label">Prenom</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="crErUnCompteTudiant-input11">
                    <span class="input-label">Age</span>
                    <input type="number" placeholder="">
                </label>
                <label class="item item-input" id="crErUnCompteTudiant-input15">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
            </ion-list>
            <label class="item item-input" id="crErUnCompteTudiant-input16">
                <span class="input-label">Mot de passe</span>
                <input type="password" placeholder="">
            </label>
            <a ui-sref="tabsController.quickView" id="crErUnCompteTudiant-button8" class="button button-stable  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>