<ion-view title="Mes derniers stages" id="page7">
    <ion-content padding="true" class="has-header">
        <ion-list id="mesDerniersStages-list6">
            <ion-item id="mesDerniersStages-list-item8" ui-sref="capgemini">Capgemini
                <ion-option-button class="button-assertive">Supprimer</ion-option-button>
            </ion-item>
            <ion-item id="mesDerniersStages-list-item9" ui-sref="aSA">ASA</ion-item>
            <ion-item id="mesDerniersStages-list-item10" ui-sref="cGI">CGI</ion-item>
        </ion-list>
    </ion-content>
</ion-view>