<ion-view title="Mon CV" id="page16">
    <ion-content padding="true" class="has-header">
        <form id="monCV-form12" class="list">
            <label class="item item-input" id="monCV-input23">
                <span class="input-label">Formations</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="monCV-input22">
                <span class="input-label">Expériences</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="monCV-input24">
                <span class="input-label">Compétences</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="monCV-input7">
                <span class="input-label">Langues</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="monCV-input8">
                <span class="input-label">Loisirs</span>
                <input type="text" placeholder="">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="monCV-toggle4">Permis</ion-toggle>
        </form>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="tabsController.quickView" id="monCV-button14" class="button button-positive  button-block">Enregistrer</a>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>