<ion-view title="Rechercher" id="page11">
    <ion-content padding="true" class="has-header">
        <form id="rechercher-form11" class="list">
            <label class="item item-input" name="Rechercher">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Rechercher">
            </label>
            <ion-item class="item-thumbnail-left" id="rechercher-list-item17" ui-sref="tabsController.capgemini2">
                <img src="img/aKiPE2MMRUe5XNpsx7J4_05947102-photo-capgemini-logo.jpg">
                <h2>Capgemini</h2>
                <p>Stagiaire Java EE</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="rechercher-list-item19" ui-sref="tabsController.aSA2">
                <img src="img/ALLtKNStRUGuGJrpL5Li_image.jpg">
                <h2>ASA</h2>
                <p>Stagiaire Java</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="rechercher-list-item20" ui-sref="tabsController.cGI2">
                <img src="img/48qAtcZeQWGnsDgwhPAg_CGI.jpg">
                <h2>CGI</h2>
                <p>Stagiaire PHP</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>